

#keys-body
{
    margin-left: 25px;
    margin-right: 25px;
}

#keys-body-01
{
/*     width: 800px; */
    margin-top: 50px;
/*    margin-left: 25px;
    margin-right: 25px;*/
}

#keys-body-img1
{
    width: 550px;
    height: 200px;
    float: right;
    margin-left: 25px;
}

#keys-body-img2
{
    float: left;
    margin-right: 25px;
}

.clear
{
    clear: both;
}

#keys-body-img3
{
    float: right;
    margin-left: 25px;
}

#keys-body-img4
{
    float: left;
    margin-right: 25px;
}


#keys-body-img5
{
    float: right;
    margin-left: 25px;
}


















