

#stoil-kate-body
{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

#stoil-kate-body-img1
{
    width: 250px;
    height: 375px;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
    float: left;
}

/*#stoil-kate-body-text
{
    float: left;
}*/