/* CSS Document */
body
{
margin:20px 0 0 0;
padding:0;
background-color:#000000;
font-family:verdana;
font-size:12px;
color:#FFFFFF;
background-image:url(images/fire5ly8.jpg);
background-attachment:fixed;
background-position:bottom center;
background-repeat:repeat-x;
}

#wrapper
{
width:600px;
margin:auto;
text-align:center;
border:solid 1px #666666;
background-color:#000000;
padding:0;
}

#navbar
{
width:600px;
height:20px;
margin:auto;
margin-bottom:5px;
text-align:center;
}

#navbar a
{
color:#FFFFFF;
font-family:verdana;
font-size:12px;
text-decoration:none;
padding-right:12px;
padding-left:12px;
}

#navbar a:hover
{
color:#FF0000;
font-family:verdana;
font-size:12px;
text-decoration:none;
padding-right:12px;
padding-left:12px;
}

#calendar
{
margin:auto;
text-align:center;
border:solid 1px #ffffff;
width:770px;
}

#calendar a
{
color:#FFFFFF;
font-family:verdana;
font-size:12px;
font-weight:bold;
text-decoration:none;
padding-right:20px;
padding-left:20px;
padding-top:5px;
padding-bottom:5px;
}

#calendar a:hover
{
color:#ffffff;
font-family:verdana;
font-size:12px;
font-weight:bold;
text-decoration:underline;
padding-right:20px;
padding-left:20px;
padding-top:5px;
padding-bottom:5px;
}

#logo
{
width:600px;
height:100px;
margin:0 0 10px 0;
padding:0;
}

#content
{
width:600px;
height:400px;
margin:0 0 20px 0;
padding:0;
}

#icons
{
width:600px;
height:48px;
margin:0 0 20px 0;
}

h1
{
color:#666666;
font-family:verdana;
font-size:18px;
margin-top:0;
margin-bottom:5px;
}

#footer
{
width:600px;
height:50px;
text-align:center;
margin:auto;
margin-top:10px;
color:#000000;
}

.date
{
margin-bottom:20px;
}

.back
{
color:#FF0000;
}

.media_footer
{
margin-top:10px;
}

.media_footer a
{
color:#FF0000;
text-decoration:underline;
}

.media_footer a:hover
{
color:#ffffff;
text-decoration:underline;
}

#about
{
width:520px;
padding:20px;
color:#ffffff;
margin:auto;
}

a
{
color:#FF0000;
text-decoration:underline;
}

a:hover
{
color:#ffffff;
text-decoration:underline;
}